<div class="h-screen">
<div class="m-8">
<nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x0 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a class="inline-flex items-center text-sm font-medium text-blue-900 hover:text-blue-700">
                        <i class="fa-solid fa-user-doctor"></i>
                        <span class="ms-2">Doctors</span>
                    </a>
                </li>
                <li class="inline-flex items-center">
                    <a class="inline-flex items-center text-sm font-medium text-blue-900 hover:text-blue-700">
                        <i class="fa-solid fa-caret-right"></i>
                        <span class="ms-2">Register</span> 
                    </a>
                </li>
            </ol>
        </nav>
</div>
<div class="m-8 border border-slate-400 shadow-md p-5 h-5/6">
<p class="text-2xl font-semibold">Register Doctor</p>
<form [formGroup]="form" (ngSubmit)="openConfirm()" class="mt-5">
        <div class="flex">
            <div class="w-4/12">
                <label for="firstName" class="block mb-4 text-base font-medium">First Name</label>
                <input id="firstName" class="block w-3/4 p-2 border border-slate-400 rounded-md" type="text"
                formControlName="firstName">
                <p *ngIf="form.controls['firstName'].errors?.['required'] && (form.controls['firstName'].touched || 
                submitted)" class="text-sm text-red-600">Required field</p>
                <p *ngIf="(form.controls['firstName'].errors?.['required'] == null) && form.controls['firstName'].errors?.['name'] && (form.controls['firstName'].touched || 
                submitted)" class="text-sm text-red-600">Invalid name</p>
            </div>
            <div class="w-4/12">
                <label for="lastName" class="block mb-4 text-base font-medium">Last Name</label>
                <input id="lastName" class="block w-3/4 p-2 border border-slate-400 rounded-md" type="text"
                formControlName="lastName">
                <p *ngIf="form.controls['lastName'].errors?.['required'] && (form.controls['lastName'].touched || 
                submitted)" class="text-sm text-red-600">Required field</p>
          <p *ngIf="(form.controls['lastName'].errors?.['required'] == null) && form.controls['lastName'].errors?.['name'] && (form.controls['lastName'].touched || 
                submitted)" class="text-sm text-red-600">Invalid name</p>
        </div>
            <div class="w-4/12">
                <label for="employedDate" class="block mb-4 text-base font-medium">Employed Date</label>
                <input id="employedDate" class="block w-3/4 p-2 border border-slate-400 rounded-md" type="date"
                formControlName="employedDate">
                <p *ngIf="form.controls['employedDate'].errors?.['required'] && (form.controls['employedDate'].touched || 
                submitted)" class="text-sm text-red-600">Required field</p>
            </div>
        </div>
        <div class="flex mt-6">
            <div class="w-4/12">
                <label for="licenseNumber" class="block mb-4 text-base font-medium">License Number</label>
                <input id="licenseNumber" class="block w-3/4 p-2 border border-slate-400 rounded-md" type="text"
                formControlName="licenseNumber">
                <p *ngIf="form.controls['licenseNumber'].errors?.['required'] && (form.controls['licenseNumber'].touched || 
                submitted)" class="text-sm text-red-600">Required field</p>
                <p *ngIf="(form.controls['licenseNumber'].errors?.['required'] == null) && form.controls['licenseNumber'].errors?.['licenseNumber'] && (form.controls['licenseNumber'].touched || 
                submitted)" class="text-sm text-red-600">Invalid license number</p>
            </div>
            <div class="w-4/12">
                <label for="phone" class="block mb-4 text-base font-medium">Phone</label>
                <input id="phone" class="block w-3/4 p-2 border border-slate-400 rounded-md" type="text"
                formControlName="phone">
                <p *ngIf="form.controls['phone'].errors?.['required'] && (form.controls['phone'].touched || 
                submitted)" class="text-sm text-red-600">Required field</p>
                <p *ngIf="(form.controls['phone'].errors?.['required'] == null) && form.controls['phone'].errors?.['phone'] && (form.controls['phone'].touched || 
                submitted)" class="text-sm text-red-600">Invalid phone number</p>
            </div>
            <div class="w-4/12">
                <label for="email" class="block mb-4 text-base font-medium">Email</label>
                <input id="email" class="block w-3/4 p-2 border border-slate-400 rounded-md" type="email"
                formControlName="email">
                <p *ngIf="form.controls['email'].errors?.['required'] && (form.controls['email'].touched || 
                submitted)" class="text-sm text-red-600">Required field</p>
                <p *ngIf="(form.controls['email'].errors?.['required'] == null) && form.controls['email'].errors?.['email'] && (form.controls['email'].touched || 
                    submitted)" class="text-sm text-red-600">Invalid email</p>
            </div>
        </div>
        <div class="flex mt-6">
            <div class="w-4/12">
            <label for="" class="block mb-4 text-base font-medium">Department</label>
            <dropdown class="block w-3/4" [optionName]="'Department'" [options]="deparmentDropdownOptions"
             (valueSelectedEvent)="departmentSelected($event)"></dropdown>
            <p *ngIf="!departmentSelect && submitted" class="text-sm text-red-600">Select a department</p>
            </div>
            <div class="w-4/12">
            <label for="" class="block mb-4 text-base font-medium">Gender</label>
            <dropdown class="block w-3/4" [optionName]="'Gender'" [options]="genderDropdownOptions"
            (valueSelectedEvent)="genderSelected($event)"></dropdown>
            <p *ngIf="!genderSelect && submitted" class="text-sm text-red-600">Select a gender</p>
            </div>
            <div class="w-4/12">
            <label for="" class="block mb-4 text-base font-medium">Rank</label>
            <dropdown class="block w-3/4" [optionName]="'Rank'" [options]="rankDropDownOptions"
            (valueSelectedEvent)="rankSelected($event)"></dropdown>
            <p *ngIf="!rankSelect && submitted" class="text-sm text-red-600">Select a rank</p>
            </div>
        </div>
        <div class="flex mt-12">
            <button type="submit" class="border border-gray-300 w-32 rounded-md shadow-sm px-4 py-3 text-white bg-blue-900 hover:bg-blue-800">
                <i class="fa-solid fa-upload"></i>  Register</button>
            <button type="button" [routerLink]="['/admin/doctors']" class="border border-gray-300 w-32 rounded-md shadow-sm px-4 py-3 ms-4 text-white bg-red-700 hover:bg-red-600">
                <i class="fa-solid fa-ban" ></i> Cancel</button>
        </div>   
    </form>
</div>
</div>
<div *ngIf="visibility" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">

  <div class="bg-white p-6 rounded shadow-lg w-1/3">
<p class="text-3xl font-semibold">Confirm</p>
<p class="mt-4">Do you want to register the doctor?</p>
<div class="text-right">
      <button class="bg-blue-900 text-white px-4 py-2 rounded-md me-4" (click)="registerDoctor()">Register</button>
      <button (click)="closeConfirm()" class="bg-red-700 text-white px-4 py-2 rounded-md">
        Close
      </button>

    </div>
</div>

</div>