<div class="relative inline-block text-left w-full">
<div>
<button type="button" (click)="toggle()" class="inline-flex justify-start w-full rounded-md border
 border-gray-300 shadow-sm px-4 py-4 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
 aria-expanded="true" aria-haspopup="true">{{optionName}}</button>
</div>
<div *ngIf="open" class="origin-top-right absolute right-0 mt-2 w-full rounded-md shadow-lg
 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" aria-labelledby="menu-button">
<div class="py-1">
<a (click)="select(option)" *ngFor="let option of options" class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100">
    {{option.optionName}}</a>
</div>
</div>
</div>
